#header {
    height: 2em;
    padding: 0.75em 1em;

    display: flex;
    align-items: center;
    gap: 0.625em;

    border-bottom: 1px solid rgb(255, 255, 255, 0.33);

    /* ============== */
    /*     Search     */
    /* ============== */

    && > .search {
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 0.5em;

        /* Search bar */

        && > .search-bar {
            height: 1.25em;
            padding: 0.25em 0.5em;
    
            display: flex;
            align-items: center;
            gap: 0.25em;
    
            background-color: white;
            border-radius: 1.25em;
    
            && input {
                height: 1.25em;
                flex: 1;
                font-size: 1em;
                line-height: 0.75em;
    
                color: black;
                border: 0px;
                outline: 0px;
            }
        }
    }

    /* ============= */
    /*     Login     */
    /* ============= */

    /* Logged out */

    button {
        display: flex;
        align-items: center;
        padding: 0.25em 0.5em 0.25em 0.25em;
        gap: 0.25em;
        
        background-color: rgb(30, 215, 96);
        border: none;
        outline: none;
        border-radius: 2em;
        cursor: pointer;

        && p {
            font-size: 1em;
            white-space: nowrap;
            color: white;
        }

        && .image-container {
            position: relative;
            height: 2em;
            width: 2em;
        }

        &&:hover {
            background-color: rgb(30, 215, 96, 0.75);
        }
    }

    /* Logged in */

    && > img {
        height: 2em;
        width: 2em;
        border-radius: 1em;
    }
}

/* ============= */
/*     Icons     */
/* ============= */

#loop-digger-icon-container {
    position: relative;
    width: 2em;
    height: 2em;
    flex-shrink: 0;
}

#loop-digger-icon {
    pointer-events: all;
    transition: transform 0.5s ease;
    border-radius: 100%;
    
    &&:hover {
        transform: rotate(360deg);
    }

    /* Stop pointer events other than hover */
    &&:active {
        pointer-events: none;
    }
}

#search-icon-container {
    position: relative;
    width: 1em;
    height: 1em;
}
