.search {
    position: relative;
}

/* ====================== */
/*     Search Results     */
/* ====================== */

.search-results-container {
    position: absolute;
    width: 100%;
    display: flex;
}

.search-results {
    flex-grow: 1;
    z-index: 50;
    max-height: 30em;
    margin-top: 0.5em;

    display: flex;
    flex-direction: column;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &&::-webkit-scrollbar {
        display: none; /* Chrome, Safari and Opera */
    }
    scroll-snap-type: y mandatory;

    background-color: black;
    outline: 1px rgb(255, 255, 255, 0.33) solid;
    border-radius: 0.25em;
}
